Flask==0.10.1
Flask-Sockets==0.1
Jinja2==2.7.2
MarkupSafe==0.21
Werkzeug==0.9.4
gevent==1.0.1
gevent-websocket==0.9.3
greenlet==0.4.2
gunicorn==18.0
itsdangerous==0.24
virtualenv==1.11.2
wsgiref==0.1.2
